.main__home {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6.25rem;
    padding: 5rem 1rem;
}

.section {
    text-align: center;
}

.section__heading {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.section__text {
    font-size: 1.2rem;
}