.main__login {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.login__heading {
    font-size: 2.5rem;
}

.login__form {
    --color: hsl(200, 50%, 50%);
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    width: 18rem;
    margin: 1rem auto;
}

.login__form input {
    height: 2rem;
    padding-left: 0.25rem;
}

.btn {
    border: none;
    border-radius: 0.25em;
    background-color: var(--color);
    color: white;
    padding: 0.5em 0.75em;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.btn:disabled {
    background-color: hsl(200, 50%, 70%);
    cursor: default;
}

.btn:hover {
    background-color: hsl(200, 50%, 70%);
}

.register__link {
    color: hsl(210, 100%, 40%);
}

@media (max-width: 23.75em) {
    .login__heading {
        font-size: 2rem;
    }

    .login__form {
        width: 12.5rem;
    }
}